name: Update and reboot VMs

on:
  push:
    branches:
      - main

jobs:
  update-and-reboot:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into VMs
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          if sudo yum check-update; then
            sudo yum update -y
          else
            echo "No updates available"
          fi
          if sudo rpm -qa | grep kernel | grep -v `uname -r`; then
            sudo rpm -qa | grep kernel | grep -v `uname -r` | xargs sudo yum -y remove
          else
            echo "No old kernels to remove"  
          fi
          echo "Rebooting the machine..."
          # sudo reboot

    - name: Wait for VMs to come back
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          echo "Running vm to comeback"
          until ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'exit'; do sleep 1000000; done
          if [ $? -ne 0 ]; then
            echo "Error: Failed to connect to the VM"
            exit 1
          else
            echo "Success"
          fi