name: Update and reboot VMs

on:
  push:
    branches:
      - main

jobs:
  update-and-reboot:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into VMs
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          UPDATES_AVAILABLE=$(sudo yum check-update | awk '{print $1}' | grep -v '^$' | wc -l)
          if [ "$UPDATES_AVAILABLE" -gt "0" ]; then
          sudo yum update -y
          fi

          OLD_KERNEL_AVAILABLE=$(sudo rpm -qa | grep kernel | grep -v `uname -r` | wc -l)
          if [ "$OLD_KERNEL_AVAILABLE" -gt "0" ]; then
          sudo rpm -qa | grep kernel | grep -v `uname -r` | xargs sudo yum -y remove
          fi

          sudo reboot

    - name: Wait for VMs to come back
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          until ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'exit'; do sleep 1000; done