name: Update and reboot VMs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-and-reboot:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into VMs and update
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          if sudo yum check-update; then
            sudo yum update -y
          else
            echo "No updates available"
          fi
          if sudo rpm -qa | grep kernel | grep -v `uname -r`; then
            sudo rpm -qa | grep kernel | grep -v `uname -r` | xargs sudo yum -y remove
          else
            echo "No old kernels to remove"  
          fi

    - name: Reboot VMs
      uses: appleboy/ssh-action@master
      if: always()
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          echo "Rebooting the machine..."
          sudo reboot

    - name: Wait for VMs to come back
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          sleep 600
          echo "Waiting for VMs to come back..."
          until ping -c1 ${{ secrets.HOST }}; do sleep 1; done
          echo "Success: VMs are back up and running"