name: Update and reboot VMs

on:
  workflow_dispatch:
    inputs:
      hosts:
        description: 'Comma-separated list of VM host IP addresses'
        required: true

jobs:
  update-and-reboot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: ${{ fromJson(inputs.hosts) }}
    steps:
      - name: SSH into VM and update
        uses: appleboy/ssh-action@master
        with:
          host: ${{ matrix.host }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            echo "Connecting to host ${{ inputs.host }}..."
            if yum list updates | grep -q -v "^$"; then
              sudo yum update -y
            else
              echo "No updates available"
            fi
            if sudo rpm -qa | grep kernel | grep -v `uname -r`; then
              sudo rpm -qa | grep kernel | grep -v `uname -r` | xargs sudo yum -y remove
            else
              echo "No old kernels to remove"  
            fi
      
      - name: Reboot VM
        uses: appleboy/ssh-action@master
        if: always()
        with:
          host: ${{ matrix.host }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            echo "Rebooting host ${{ matrix.host }}..."
            expect -c 'spawn ssh $env(USERNAME)@$env(HOST) sudo reboot; expect "*?assword:*"; send -- "$env(PASSWORD)\r"; interact;'
      
      - name: Wait for VM to come back
        uses: appleboy/ssh-action@master
        with:
          host: ${{ matrix.host }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            echo "Waiting for host ${{ matrix.host }} to come back..."
            until nc -z -v -w5 ${{ matrix.host }} 22; do sleep 5; done
            echo "Success: Host ${{ matrix.host }} is back up and running"
